# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.pytest_cache/

# Virtual envs
.venv/
env/
venv/

# Flask
instance/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Packaging / build
build/
dist/
*.egg-info/

# coverage file
.coverage
